<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upload Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card class="upload_card" button color="primary">
    <div class="ion-text-center">

      <p style="align-items: center;display: flex;justify-content: center">
        <ion-icon name="add-circle-outline"></ion-icon> Select video
      </p>
      <p>Mp4 only and max 5MB</p>
    </div>
  </ion-card>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item color="primary" style="border: 1px solid white;">
          <ion-label>Select Langauge</ion-label>
          <ion-select value="Hindi">
            <ion-select-option value="Hindi">Hindi</ion-select-option>
            <ion-select-option value="English">English</ion-select-option>
            <ion-select-option value="Gujarati">Gujarati</ion-select-option>
            <ion-select-option value="Marathi">Marathi</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item color="primary" style="border: 1px solid white;">
          <ion-label>Select Category</ion-label>
          <ion-select value="peperoni">
            <ion-select-option value="New">New</ion-select-option>
            <ion-select-option value="Love">Love</ion-select-option>
            <ion-select-option value="Sad">Sad</ion-select-option>
            <ion-select-option value="Funny">Funny</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-button class="ion-padding-horizontal" color="secondary" style="height: 50px;width: 170px;">
          Upload
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>