<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
    <!-- Discover -->
    <ion-buttons slot="end">
      <ion-button (click)="gs.languagePopup()">
        <ion-icon slot="icon-only" color="secondary" name="globe-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/faverite">
        <ion-icon slot="icon-only" color="danger" name="heart"></ion-icon>
      </ion-button>
      <ion-button routerLink="/download">
        <ion-icon slot="icon-only" color="light" name="arrow-down-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <!-- <ion-segment scrollable value="heart"> -->
  <ng-container *ngFor="let item of allCategoryList">
    <ion-list-header>
      <ion-label color="light">{{item.category_name}}</ion-label>
      <ion-button color="light">See All</ion-button>
    </ion-list-header>
    <div *ngIf="item.videoData.length" class="scroll_div">
      <ng-container class="" *ngFor="let Row of item.videoData">
        <img [src]="Row.video_thumb" alt="" style="width: 120px;padding: 6px;">
      </ng-container>
    </div>
  </ng-container>
  <!-- </ion-segment> -->
</ion-content>