ion-slide {
    height: 100vh !important;
}
.vidSection {
    width: 100%;
}

video {
    background: #000;
    height: 100vh;
    object-fit: cover;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
video::-webkit-media-controls-mute-button {
    display: none;
}

.fab_btn {
    margin-bottom: 4px;
    --ion-color-base: #00000033 !important;
    --box-shadow: none;
}

.count_text{
    color: white;
    margin: 0;
    text-shadow: 0px 0px 8px black;
    font-size: 12px;
}
