<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Status</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gs.languagePopup()">
        <!-- languagePopup -->
        <ion-icon slot="icon-only" color="secondary" name="globe-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/faverite">
        <ion-icon slot="icon-only" color="danger" name="heart"></ion-icon>
      </ion-button>
      <ion-button routerLink="/download">
        <ion-icon slot="icon-only" color="light" name="arrow-down-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of gs.videoPosters">
        <ion-card (click)="goVideoSlides()" class="ion-no-margin img_card">
          <ion-img [src]="item" alt="Image"></ion-img>
          <div class="img_ovarlay">
            <p>
              <b>Hindi</b> - Love romentice
            </p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>