<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Status</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gs.languagePopup()">
        <!-- languagePopup -->
        <ion-icon slot="icon-only" color="secondary" name="globe-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/faverite">
        <ion-icon slot="icon-only" color="danger" name="heart"></ion-icon>
      </ion-button>
      <ion-button routerLink="/download">
        <ion-icon slot="icon-only" color="light" name="arrow-down-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of gs.videoPosters">
        <ion-card (click)="goVideoSlides()" class="ion-no-margin" style="border: 2px solid white;border-radius: 10px;height: 300px;position: relative;">
          <ion-img [src]="item" alt=""></ion-img>
          <img src="https://cdn.dribbble.com/users/34556/screenshots/1680799/play.gif" alt="">
          <div style="bottom: 0;
          display: flex;
          height: 100%;
          left: 0;
          list-style-type: none;
          margin: 0;
          padding: 0 10px;
          position: absolute;
          width: 100%;
          z-index: 3;
          background: linear-gradient(transparent,rgb(0 0 0 / 78%));
          color: white;">
            <p style="margin-top: auto"><b>Hindi</b> - Love</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>