<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Status</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gs.languagePopup()">
        <ion-icon slot="icon-only" color="secondary" name="globe-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/faverite">
        <ion-icon slot="icon-only" color="danger" name="heart"></ion-icon>
      </ion-button>
      <ion-button routerLink="/download">
        <ion-icon slot="icon-only" color="light" name="arrow-down-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid fixed *ngIf="gs.homeVideos">
    <ion-row>
      <ion-col size="6" *ngFor="let item of gs.homeVideos; let inx = index">
        <ion-card (click)="goVideoSlides(gs.homeVideos, inx)" class="ion-no-margin img_card">
          <ion-img [src]="item.video_thumb" alt="Image"></ion-img>
          <div class="img_ovarlay">
            <p>
              <b>{{item.language_name}}</b> - {{item.category_name}}
            </p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>